<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd" id="WebApp_ID" version="5.0">
  <display-name>Student</display-name>
  <welcome-file-list>
    <welcome-file>Home.html</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>AddStudServ</display-name>
    <servlet-name>AddStudServ</servlet-name>
    <servlet-class>AddStudServ</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddStudServ</servlet-name>
    <url-pattern>/AddStudServ</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddStudServ1</display-name>
    <servlet-name>AddStudServ1</servlet-name>
    <servlet-class>AddStudServ1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddStudServ1</servlet-name>
    <url-pattern>/AddStudServ1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewServ</display-name>
    <servlet-name>ViewServ</servlet-name>
    <servlet-class>ViewServ</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewServ</servlet-name>
    <url-pattern>/ViewServ</url-pattern>
  </servlet-mapping>
</web-app>